<h2>Committee List</h2>
<h5>Type either house or senate.</h5>

<form>
  <div class="form-group">
    <label for="chamber">Chamber:</label>
    <!-- <select class="form-control"> -->
      <!-- <option>house</option>
      <option>senate</option> -->
      {{input value=chamber id="chamber"}}
    <!-- </select> -->
  </div>

  <button class="btn btn-primary" {{action 'chamberLookup'}}>Submit</button>

</form>
