<h2>Legislator Lookup</h2>
<h5>Lookup your local legislator and contact them.</h5>

<form>
  <div class="form-group">
    <label for ="zip">Zip:</label>
    {{input value=zip id="zip"}}
  </div>

  <button class="btn btn-primary" {{action 'zipLookup'}}>Submit</button>

</form>

<hr>
